.container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  height: 90%;
  overflow-y: auto;

}

.buttons {
  margin-top: auto;
  display: flex;
}

.buttons button {
  margin: 20px;
}

.category {
  color: #843f98;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 0.2em solid #843f98;
}

.spacer {
  height: 1em;
  width: 100%;
}
