.highlight {
    border: 2px dashed black;
    padding: 2px;
}

.selected {
    background-image: linear-gradient(135deg, #ffffff 25%, #cf3e64 25%, #cf3e64 50%, #ffffff 50%, #ffffff 75%, #cf3e64 75%, #cf3e64 100%);
    background-size: 14.14px 14.14px;
    color: black
}

.zone {
    cursor: pointer;
}
